/*Header */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 105px;
  margin: 92px 24px;
}

.header__menu{ 
 margin-left: 26px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 0 32px;
  list-style: circle;
  white-space: nowrap;
}
.header__links-list-item{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.header__link_active{
  text-decoration: none;
}

.header__link{
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;

  line-height: 24.3px;
}

.header__logo{
  display: block;
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address{
  justify-self:end;
}

.address{
  max-width: 238px;
  
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;

line-height: 24.3px;



}

.header__address-link{
  text-underline-offset:4px;
}

/* Cover */

.cover{
  position: relative;
  z-index: 1;
  padding: 165px 50px 51px 50px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 135px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text{
  text-align: left;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.letter-spacing-extended{
  letter-spacing: 60px;
}

.no-letter-spacing{
  letter-spacing: normal;
}

.cover__description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text{
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button{
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}